<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <title>{% block title %}SUPER MARKET{% endblock title %}</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'css/editar_4iAMVgs.png' %}"
    />
  </head>
  <body>
    <header id="header">
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand" href="#">SUPER MARKET</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link active">Inicio</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'core:product_list' %}" class="nav-link active"
                  >Productos</a
                >
              </li>
              <li class="nav-item">
                <a href="{% url 'core:brand_list' %}" class="nav-link active"
                  >Marcas</a
                >
              </li>
              <li class="nav-item">
                <a href="{% url 'core:supplier_list' %}" class="nav-link active"
                  >Proveedores</a
                >
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'core:logout' %}" class="nav-link active"
                  >Cerrar Sesión</a
                >
              </li>
              {% else %}
              <li class="nav-item">
                <a href="{% url 'core:signup' %}" class="nav-link active"
                  >Registro</a
                >
              </li>
              <li class="nav-item">
                <a href="{% url 'core:login' %}" class="nav-link active"
                  >Iniciar sesión</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main id="content">
      {% block content %}
      <h1>{{ title2 }}</h1>
      {% endblock content %}
    </main>
  </body>
</html>
