{% extends 'base.html' %} {% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form action="" class="card card-body text-center mt-5">
        <div class="container">
          <div class="form-container">
            <form class="form-container" method="POST">
              {% csrf_token %}
              <h1 class="title">{{ title2 }}</h1>
              <h3>
                ¿Desea Eliminar el Producto " {{product.description }} " ?
              </h3>

              <div>
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a class="btn btn-success" href="{% url 'core:product_list' %}"
                  >Regresar</a
                >
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock content %}
